.home-page {
  height: 100vh;
  width: 100%;
  background-image: url('/chatappbg.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-container {
  height: 70vh;
  width: 40%;
  background: transparent;
  backdrop-filter: blur(4px);
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forget-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80%;
}

.forget-form h2 {
  text-align: center;
  color: white;
}

.forget-form input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.forget-form button {
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.forget-form button:hover {
  background-color: #ddd;
}
