
.top-profile img{
    height: 120px;
    border-radius: 50%;
}
.top-profile{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid white;
    height: 40%;
    padding-bottom: 30px;

}
.top-profile span{
    font-size: 14px;
     color: white;
}